* {
    background-color: rgb(1, 4, 58);
    width: 75%;
    margin: 0 auto;
}

body {
    width: 100%; 
}

@media(min-width: 768px) {
    #div {

        display: flex;
        width: 100%;
        margin-top: 30vh;
    }
    
    #div_1 {
        width: 35%;
    }

    #div_1_photo {
        width: 180px;
        height: 180px;
        background-image: url("/images/1646340795066.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        border-radius: 50%;
        box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -webkit-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -moz-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
    }

    #div_2{
        margin-left: 1rem;
        width: 100%;
    }

    #div_2_title {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #div_2_title h1{
        position: relative; 
	    float: left;
        font-family: "Courier New", monospace;
        font-size: 40px;
        color:blanchedalmond;
        width: 100%;
    }

    #div_2_title h1 span {
        position: absolute;
        right: 0;
        width: 0;
        animation: escribir 3s steps(35);
    }

    @keyframes escribir {
        100% { width: 0%}
        0% { width: 100%}
    }

    #div_2 p {
        font-family: "Courier New", monospace;
        font-size: 20px;
        width: 100%;
        color:blanchedalmond;
    }

}


