* {
    background-color: rgb(148, 151, 207);
    width: 75%;
    margin: 0 auto;
}

body {
    width: 100%; 
}

@media(min-width: 768px) {
    #div {
        display: flex;
        width: 100%;
        margin-top: 30vh;
        height: 40vh;
    }
    
    #div_1 {
        width: 35%;
    }

    #div_1_photo {
        width: 180px;
        height: 180px;
        background-image: url("/images/personal_photo/mateo_arbini.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        border-radius: 50%;
        box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -webkit-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -moz-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
    }

    #div_2{
        margin-left: 1.2rem;
        width: 100%;
    }

    #div_2_title {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #div_2_title h1{
        position: relative; 
	    float: left;
        font-family: "Courier New", monospace;
        font-size: 40px;
        color:blanchedalmond;
        width: 100%;
    }

    #div_2_title h1 span {
        position: absolute;
        right: 0;
        width: 0;
        animation: escribir 3s steps(35);
    }

    @keyframes escribir {
        100% { width: 0%}
        0% { width: 100%}
    }

    #div_2 p {
        font-family: "Courier New", monospace;
        font-size: 18px;
        width: 100%;
        color:blanchedalmond;
    }

    #div_2 img {
        width: 43px;
        filter: opacity(50%);
        transition-duration: 0.6s ;
    }

    #div_2 img:hover {
        filter: saturate(100%);
    }

    #links_social{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0%;
    }

    #button_resume {
        background-color: #8f8f8f;
        font-family: 'Courier New', monospace;
        font-weight: bold;
        filter: opacity(50%);
        border: none;
        color: rgb(255, 255, 255);
        padding: 13px 15px;
        border-radius: 40px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
    }

    #button_resume:hover {
        background-color: #9c9c9c;
        filter: opacity(90%);
    }

    #about_me {
        width: 100%;
        color: blanchedalmond;
        font-family: "Courier New", monospace;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 6rem;
    }

    #about_me p {
        width: 90%;
        margin-top: 1.5rem;
    }

    #about_me_title {
        width: 100%;
        margin-top: 7rem;
    }

    #about_me_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }	

    #stack_title {
        width: 100%;
        margin-top: 1rem;
    }

    #stack_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    #projects_title {
        width: 100%;
        margin-top: 5rem;
    }

    #projects_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }	

    #underline {
        width: 90%;
        height: 1px;
        background-color: rgb(50, 50, 50);
        border-color: rgb(50, 50, 50);
        margin-top: 1rem;
        animation: underline 2s;
    }

    @keyframes underline {
        0% { width: 0%}
        100% { width: 90}
    }

    #div_4_stack {
        width: 90%;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
    }

    #div_4_stack p {
        color:blanchedalmond;
        width: 34%;
        font-family: "Courier New", monospace;
        font-size:30px;
        margin: 0%;
    }

    #div_4_stack img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7px;
    }

    #html_logo{
        width: 55px;
    }

    #css_logo{
        width: 56px;
    }

    #js_logo{
        width: 53px;
    }

    #bootstrap_logo{
        width: 66px;
    }

    #canva_logo{
        width:56px;
    }

    #figma_logo{
        width: 45px;
    }

    #nodejs_logo{
        width: 107px;
    }

    #py_logo{
        width: 60px;
    }

    #mysql_logo{
        width: 109px;
    }

    #sqlite_logo{
        width: 90px;
    }

    #git_logo{
        width: 103px;
    }

    #github_logo_stack{
        width: 53px;
    }

    #project_cards_1 {
        border-color: brown;
        border-style: solid;
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem
    }

    #project_cards_2 {
        border-color: brown;
        border-style: solid;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
    }

    .cards {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 250px;
        border-radius: 30px;
        border-color: brown;
        border-style: solid;
        margin: 1rem;
    }
    
    .container_card{
        margin-top: 1rem;
        width: 100%;
    }

    .container_card h4 {
        font-family: "Courier New", monospace;
        font-size: 18px;
        width: 100%;
        color: blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .container_card p {
        font-family: "Courier New", monospace;
        font-size: 18px;
        color: blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 1.4rem;
        margin-top: 1rem;
    }

    .cards img {
        width: fit-content;
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    #footer_div {
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    #footer_div p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        font-family: 'Courier New', monospace;
        font-size: small;
        color: blanchedalmond;
    }

    #photo_footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-image: url("/images/personal_photo/mateo_arbini.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        border-radius: 50%;
        box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -webkit-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -moz-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
    }
}   


