* {
    background-color: rgb(1, 4, 58);
    width: 75%;
    margin: 0 auto;
}

body {
    width: 100%; 
}

@media(max-width: 767px) {
    #div {
        width: 100%;
        margin-top: 15vh;
    }

    #div_1_photo {
        width: 180px;
        height: 180px;
        background-image: url("/images/1646340795066.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        border-radius: 50%;
    }

    #div_2_title {
        width: 100%;
    }
    
    #div_2 h1 {
        font-family: "Courier New", monospace;
        font-size: 30px;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color:blanchedalmond;
    }
    
    #div_2_title h1 span {
        position: absolute;
        right: 0;
        width: 0;
    }

    #div_2 p {
        font-family: "Courier New", monospace;
        font-size: 15px;
        width: 100%;
        color:blanchedalmond;
    }
    
}