* {
    background-color: rgb(1, 4, 58);
    width: 75%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: antiquewhite;
    filter: opacity(30%);
    margin-top: 1rem;
}

body {
    width: 100%; 
}


@media(max-width: 768px) {
    #div {
        width: 100%;
        margin-top: 7vh;
    }

    #div_1_photo {
        width: 180px;
        height: 180px;
        background-image: url("/images/Personal_photo/1646340795066.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        border-radius: 50%;
        box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -webkit-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
        -moz-box-shadow: -7px -3px 46px 11px rgba(0,0,0,0.31);
    }

    #div_2_title {
        width: 100%;
    }
    
    #div_2 h1 {
        font-family: "Courier New", monospace;
        font-size: 30px;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:blanchedalmond;
    }
    
    #div_2_title h1 span {
        position: absolute;
        right: 0;
        width: 0;
    }

    #div_2 p {
        font-family: "Courier New", monospace;
        font-size: 15px;
        width: 100%;
        color:blanchedalmond;
    }

    #div_2 img {
        width: 40px;
        filter: opacity(50%);
    }

    #div_2 img:hover {
        filter: saturate(110%);
    }

    #links_social{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0%;
    }

    #button_resume {
        background-color: #8f8f8f;
        font-family: 'Courier New', monospace;
        filter: opacity(50%);
        border: none;
        color: rgb(255, 255, 255);
        padding: 13px 15px;
        border-radius: 40px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
    }
    
    #about_me_title {
        width: 100%;
        margin-top: 4rem;
    }

    #about_me_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #about_me {
        width: 100%;
        color: blanchedalmond;
        font-family: "Courier New", monospace;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 6rem;
    } 
    
    #stack_title {
        width: 100%;
        margin-top: 4rem;
    }

    #stack_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }	

    #projects_title {
        width: 100%;
        margin-top: 5rem;
    }

    #projects_title h1 {
        font-family: "Courier New", monospace;
        font-size: 35px;
        color:blanchedalmond;
        display: flex;
        justify-content: left;
        align-items: center;
    }	

    #underline {
        width: 90%;
        height: 1px;
        background-color: rgb(50, 50, 50);
        border-color: rgb(50, 50, 50);
        margin-top: 1rem;
        animation: underline 2s;
    }

    @keyframes underline {
        0% { width: 0%}
        100% { width: 90}
    }

    #div_4_stack p {
        font-family: 'Courier New', monospace;
        font-size: 20px;
        width: 100%;
        color: blanchedalmond;
        margin-top: 25px;
        margin-bottom: 20px;
        justify-content: left;
        align-items: center;
        display: flex;
    }

    #html_logo {
        width: 43px;
        margin-right: 2px;
    }

    #css_logo {
        width: 43px;
        margin-right: 2px;
    }

    #js_logo {
        width: 48px;
        margin-right: 2px;
    }

    #bootstrap_logo {
        width: 60px;
        margin-right: 1px;
    }

    #canva_logo {
        width: 50px;
        margin-right: 2px;
    }

    #figma_logo {
        width: 35px;
    }

    #nodejs_logo {
        width: 80px;
        margin-right: 7px;
    }

    #py_logo {
        width: 43px;
    }

    #mysql_logo {
        width: 85px;
        margin-right: 7px;
    }

    #sqlite_logo {
        width: 85px;
    }

    #git_logo {
        width: 75px;
        margin-right: 2px;
    }

    #github_logo_stack {
        width: 55px;
    }
    
}